@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-color: var(--background-site);
  background-size: contain;
  padding: 1rem;
}

.circle,
.todo__circle {
  height: 25px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid var(--dark-grey);
  margin-right: 1rem;
}

.todo__circle {
  cursor: pointer;

  &.checked {
    position: relative;
    background-image: var(--check-background);

    &::after {
      content: url('../../images/icon-check.svg');
      position: absolute;
      left: 50%;
      transform: translate(-50%, -5%);
    }
  }
}

.todo__description.checked {
  color: var(--dark-grey);
  text-decoration: line-through;
}
